.heading {
    width: 100%;
    text-align: left;
}

.heading h3 {
    display: inline;
}

.heading button {
    float: right;
    border: 1px solid white;
}

.big_image {
    width: 100%;
}

#start,
#status {
    font-size: 22px;
}

video {
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}

body {
    background-image: url("background1.jpg");
    background-size: cover;
}

.modal-title {
    margin-right: 500px !important;
}